body {
    margin: 0;
    padding: 0;
    line-height: 16px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    background-image: none;
    background-color: white;
    background-size: cover;
}

/* Container styling */
#container {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 30px 0 20px 0; /*t-r-b-l */
    color: black; /* Text color inside container */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styling for the top menu */
#menu {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 95%;
    height: 50px;
    background: white; /* Background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

nav {
    flex: 1;
    text-align: right;
}
/* Styling for menu items */
nav ul  {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    position: relative;
    list-style: none;
}

nav ul li:last-child {
    margin-right: 0; /* Remove margin from the last menu item */
} 

/* Menu Items */
nav ul li a {
    display: block;
    padding: 10px 12px; /*t-b-l-r*/
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    color: black;
    position: relative;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    line-height: 30px;
}

/* Add a border-bottom indicator for each menu item */
nav ul li::after {
    content: '';
    display: block;
    position: absolute;
    width: 70%;
    height: 1px;
    bottom: 14px;
    left: 15%; /* Adjust left position to center the underline */
    border-bottom: 0px dotted black; /* Solid underline */
    background-color: black;
    transition: background-color 0.3s ease; /* Smooth transition for visibility */
}

/* Hover effect for menu items */
nav ul li:hover::after {
    width: 0%;
    left: 50%;
    border-color: transparent; /* Change color on hover */
}

/* Styling for menu item hover and current item */
nav li a:hover, #menu li .current{
    color: #FFF;
    background: rgba(1, 1, 1, 0.8); /* Hover and current item background */
    border-radius: 25px;
}

.branding {
    padding-left: 20px;
}

.branding h1 {
    margin:0;
}

.branding a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.middle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    width: 820px;
    padding: 55px 35px 35px 35px; /*t-r-b-l*/
    background: white; /* Background color */
    border-radius: 25px;
    margin-left: 50px;
}

#intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    width: 820px;
    padding: 55px 35px 35px 5px; /*t-r-b-l*/
    background: white; /* Background color */
    border-radius: 25px;
    margin-left: 50px;
    color: black; /* Paragraph text color */
    font-size: 16px; /* Paragraph font size */
}

/* Footer styling */
#footer {
    clear: both;
    color: black; /* Text color */
    width: 950px;
    padding: 0px;
    text-align: center;
    background-color: rgba(1, 1, 1, 0); /* Transparent background */
    font-size: 12px;
}

.icon {
    display: inline-block; /* For white in black circle */
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin-right: 20px;
    font-size: 30px;
    border-radius: 60%;
    background-color: black;
    color: white;
    }    
