body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: 'Volkhov', 'Tangerine', Ubuntu, "Crimson Text", Arial, Helvetica, sans-serif;
	font-size: 25px;
	background: #4b4c3e url(images/backstars.png);	
    background-size: cover;
}

		
a:link, a:visited { color: #f1f118; text-decoration: underline; font-weight: normal;} 
a:active, a:hover { color: #f1f118; text-decoration: none;}

p {
	margin: 0px;
	padding: 0px;
	font-size: 1px;
}

#side {
	float: right;
	width: 240px;
    border-radius: 25px;
    background: rgba(1, 1, 1, 0.4);
    padding: 30px;

}

#container{
	width: 980px;
	margin: 0 auto;
	padding: 30px 0 0 0;
}

.sec {
	clear: both;
	width: 500px;
    padding: 10px 35px 35px 35px;
    background: rgba(1, 1, 1, 0.3);
    border-radius: 25px;
}
h3{
color:white;
}
p
{color:white;
font-size:15px;
}

#menu {
	clear: both;
	width: 970px;
	height: 60px;
    background: rgba(1, 1, 1, 0.2);
    border-radius: 25px;
}
#menu2 {
	clear: both;
	width: 970px;
	height: 60px;
    background: rgba(1, 1, 1, 0.2);
     border-radius: 25px;
}

#menu ul {
	margin: 0px;
	padding: 10px 10px 10px 10px;
	list-style: none;
}

#menu ul li{
	display: inline;
}

#menu ul li a{
	float: left;
	padding: 5px 5px 5px 5px;
	width: 148px;
	height: 38px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	color: #FFF;
	outline: none;
}

#menu2 ul {
	margin: 0px;
	padding: 10px 10px 10px 10px;
	list-style: none;
}

#menu2 ul li{
	display: inline;
}

#menu2 ul li a{
	float: left;
	padding: 5px 5px 5px 5px;
	width: 180px;
	height: 38px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	color: #FFF;
	outline: none;
}

#menu li a:hover, #menu li .current{
	color: #FFF;
	background: rgba(1, 1, 1, 0.8);
    border-radius: 25px;
}

#menu2 li a:hover, #menu li .current{
	color: #FFF;
	background: rgba(1, 1, 1, 0.8);
    border-radius: 25px;
}

#top_panel {
	clear: both;
	width: 930px;
	min-height: 600px;
    height: auto;
    height: 600px;
	padding: 30px;
}

#main {
	float: left;
	width: 500px;
}

#footer {
	clear: both;
	color: #ffffff;
	width: 970px;
	height: 30px;
	padding: 10px 10px 10px 10px;
	text-align: center;
    background: rgba(1, 1, 1, 0);
    font-size: 10px;
}

label
{
font-size:15px;
color:white;
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 6px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 10px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;   
}