<div id="menu">
        <div class="branding">
                <a href="/"><i class="fas fa-home"></i></a>
        </div>
        <nav>
                <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/pages/learning.html">Learning</a></li>
                        <li><a href="/pages/research.html">Research</a></li>
                        <li><a href="/pages/notebook.html">Notebook</a></li>
                        <li><a href="https://github.com/shalinis602">GitHub</a></li>           
                        <li><a href="https://tuxtrek.hashnode.dev/">Blog</a></li>                       
                </ul>  
        </nav>  
</div> 
