<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!--Crucial for ensuring proper rendering and scaling of web pages on mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/css/my.css' | relative_url }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div id="container">
        {% include header.html %}
        <div class="middle">
            {{ content}}
        </div>
        {% include footer.html %}
    </div>
</body>
</html>

